---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/fabr/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>fabr</title>
	</head>
	<body class="bg-fabr-cream text-fabr-orange dark:bg-fabr-dark dark:text-fabr-cream">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
