---
import FabrSvg from '../assets/fabr.svg';

---

<footer class='app-container py-16'>
	<FabrSvg width='72px' height='auto' />
	<p class='pt-8 text-lg'>Built & maintained with ❤️ on <a class='underline underline-offset-4' href='https://github.com/yashjawale/fabr' target='_blank'>GitHub</a></p>
</footer>