---
import FabrLogo from './FabrLogo.astro';

---

<footer class='app-container py-16 text-fabr-orange'>
	<FabrLogo width='72px' />
	<p class='pt-8 text-lg'>Built & maintained with ❤️ on <a class='underline underline-offset-4' href='https://github.com/yashjawale/fabr' target='_blank'>GitHub</a></p>
</footer>