---
---

<section class='app-container py-32 text-center text-fabr-orange'>
	<h2 class='font-title text-5xl leading-tight md:max-w-2xl mx-auto'>Compatible with your favourite technologies</h2>
	<p class='mt-8 text-xl md:max-w-2xl mx-auto'>fabr is built around folder templates & shell commands, making bootstrapping any project possible regardless language or framework</p>
</section>