---
import FabrLogo from './FabrLogo.astro';

---

<div class='bg-fabr-orange text-white'>
	<nav class='app-container py-4 flex items-center justify-between'>
		<a href="/">
			<FabrLogo class='text-white' height='42px' />
		</a>
		<ul class='flex space-x-6 uppercase text-sm font-semibold'>
			<li><a href="/docs" class="text-white hover:underline">Docs</a></li>
		</ul>
	</nav>
</div>