---
import FabrLogo from './FabrLogo.astro';

---

<div class='bg-fabr-orange text-fabr-cream dark:bg-fabr-orange-dark/20'>
	<nav class='app-container py-5 flex items-center justify-between'>
		<a href="/">
			<FabrLogo height='32px' />
		</a>
		<ul class='flex space-x-6 uppercase text-sm font-semibold'>
			<li><a href="/docs" class="hover:underline">Docs</a></li>
		</ul>
	</nav>
</div>